.button_wrapper {
    margin: 10px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.button:hover {
    background-color: rgba(38, 203, 1, 0.85);
    transform: scale(1.1);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.66);
    transition: all 0.5s;
}
.button:active {
    background-color: rgba(62, 142, 65, 0.89);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.66);
    transform: scale(0.8);
    transition: all 0.5s;
}
