.all_range_wrapper {
    position: relative;
}

.error {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: red;
    bottom:200px;
    left: 40px;
    animation-name: error;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes error {

    30% {
        bottom:210px;
    }
}